---
import { getI18N } from "@i18n/index";

const { currentLocale } = Astro;
const i18n = getI18N({ currentLocale });
const { GitHubTitle, Ghub } = i18n.Profile;
---

<div class="bg-white dark:bg-gray-800 rounded-xl shadow-lg p-8">
  <div class="flex items-center gap-3 mb-6">
    <h2
      class="text-2xl font-bold text-textLight dark:text-textDark items-center"
    >
      {GitHubTitle}
    </h2>
  </div>
  <div class="space-y-4">
    {
      Ghub.map((repo) => (
        <a
          href={repo.url}
          target="_blank"
          rel="noopener noreferrer"
          class="block p-4 border border-gray-200 dark:border-gray-700 rounded-lg hover:border-primary dark:hover:border-primary transition-colors"
        >
          <h3 class="text-lg font-semibold text-textLight dark:text-white mb-2">
            {repo.title}
          </h3>
          <p>{repo.body}</p>
        </a>
      ))
    }
  </div>
</div>
