---
import Container from "@components/shared/Container.astro";

import Skills from "@components/profile/Skills.astro";
import Education from "@components/profile/Education.astro";
import Experience from "@components/profile/Experience.astro";
import ProfileAbout from "@components/profile/ProfileAbout.astro";
import HeaderProfile from "@components/profile/HeaderProfile.astro";
import GitHubProfile from "@components/profile/GitHubProfile.astro";
import LanguageLvl from "@components/profile/LanguageLvl.astro";
---

<Container>
  <div>
    <!-- Header Section -->
    <HeaderProfile />

    <!--  Content -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
      <div class="lg:col-span-2 space-y-8">
        <!-- About -->
        <ProfileAbout />

        <!-- Experience -->
        <Experience />

        <!-- Githubs -->
        <GitHubProfile />
      </div>

      <!-- Right Column -->
      <div class="space-y-8">
        <!-- Skills -->
        <Skills />

        <!-- Lenguage -->
        <LanguageLvl />

        <!-- Education -->
        <Education />
      </div>
    </div>
  </div>
</Container>
